@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    max-width: 550px;
    margin: 0 auto;
}

h1{
    text-align: center;
}

form{
    height: 90px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.color{
    border: 0.5px solid #313131;
    width: 51px;
    height: 34px;
    outline: none;
}

select{
    width: 312px;
    height: 42px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 10px;
    
}


option{
    color: #111827;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 40px;
    display: inline-block;
}

button{
    cursor: pointer;
    width: 123px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    color: #374151;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    
}


.color-container{
    display: flex;
}

.container{
    width: 20%;
}

.displayed-colour{
    height: 75vh;
}